{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <svg
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                enable-background="new 0 0 24 24"
                xml:space="preserve">
                <image
                    id="image0"
                    width="24"
                    height="24"
                    x="0"
                    y="0"
                    xlink:href="data:image/png;base64,
                        iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAAmJLR0QA/4ePzL8AAAAHdElNRQfi
                        CAgLHxiw/wouAAABjXpUWHRSYXcgcHJvZmlsZSB0eXBlIGljYwAAOI21U1FuBCEI/fcUPQICgh5n
                        UCfp/S9Q1HEzu+k27UdfYnYFhMeDCZ+1ho+BxDnAACJLVFCQCjwtIE26smJCVkaElFNJBwJoO919
                        +Ol+mp8MQCVIFFJS4JggAVe48Hr/CadXHYziNjTCtpn1ZAa9ZFFrLLWxWWeWbi2appJfk4XfVLzh
                        EJakJHRxuRhLCt4YKOpSJsqlEJKqKwTbni8Gcag21VrXUrc9iN4dBtshTw8q3xKxD2Axiu0qgOCM
                        JMtmEs/tqPLmgRd+k+ip5wfMhS1jmlJd/uLjB3qNecJfxf6/RDo6ysqPRExy+pSKohRRcRf6Uq6d
                        kuT/i3Qh7FgRCAkoUhrv9sY/MTopjeXcCxqj1Pr4NG7IND8ToGbngln4LpAPm4EWXe2Bw8p3cZgp
                        r4pgk1HNVryF6G3FW9yeEopjMsZrz1palMmmHcpZg49eiOheKkLldU+tT+aE64GWmfxsBVZHB87f
                        dtDSiNpc9QrSwxdujO5mPAAwtQAAAqlJREFUOMuF099L3XUcx/HH93vO0ePZnEY7pqx0M5eag9RF
                        YVFgtH6MSioKKqLugwl1XdCULqIV9QcEC0ZEJHS1RoMCidqNcxfNWdtamqA7ir9/bOfHp4sdtVg/
                        np+bD28+Tz7v1+fDOwL2+1WUDq3u1x3vT2XjCkrX8rOli0b8FI+XNu5xDkTUWhClw6Hka/U9e+vu
                        SNbI2IkVaxZNFq5cnf6xcNy3NsoCstHAna8+n3lIowo7BGmsi626bsKwr9YufRbeNksiImnwsTeO
                        pXo1qJQSRPKKIFalzkG9qal7L1U4HYU4QWPDs/26UKtkFzJSUqpQo6RW0O2Ihuc0JcRFMqUMseim
                        9fdaKSNTlAyYcUyVJnOYF1kRxIoS5sXmcMaHZhAkoVnWEU94WJMKVYK0yJqSa66b9L1T7tbsMjeE
                        Gh8Yddxp1ertVKVGsGTdqmlLWryn0zNsCkGlpxxy2Vk/mzQhj5RbtOjTpVmlnLAtTBmXValdO0oK
                        ikhIim0ybmprfyDO9YThUAz/RjEMh54Q5xwo39Cq11u69em0+0apTMGsUV8b8agFY5stpfV72efe
                        l1fvdnUyWHPVH6alPOBTWSe3MoSioMOgBRdd8LucNWTsdlCbFrWYUVTOraM6NxT+j6FQndNRbinv
                        HfNeUO2fWfalj+S3n7VVvxO+8KQH7VUjJUKQt+iKH5xU9KaPndvMEIWn9TnlG0MitWqksWHRgmCf
                        1z2u5JMgkIyE5dmlyWyXl7xozoSprdBZezS6VQJnzS5ZjoiIDRwunP/PyOfD4YJ3xVF5SncZbJs9
                        GkbCyk1HV8JIOBra5gzYtT3TJN0Xv3LbI+2N7VX7oqwdWJXzWxhbH5uY+a50IjqjEP4iiEiEPTp1
                        uivOJlMU8qWcX4wajadCsfxn/gT2rF0brV9pXwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wOC0w
                        OFQxMTozMToyNC0wNzowMHLVNgMAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDgtMDhUMTE6MzE6
                        MjQtMDc6MDADiI6/AAAAKHRFWHRpY2M6Y29weXJpZ2h0AENvcHlyaWdodCBBcHBsZSBJbmMuLCAy
                        MDE1Uf15/AAAABp0RVh0aWNjOmRlc2NyaXB0aW9uAERpc3BsYXkgUDOPebu8AAAAG3RFWHRpY2M6
                        bWFudWZhY3R1cmVyAERpc3BsYXkgUDMy4RxJAAAAFHRFWHRpY2M6bW9kZWwARGlzcGxheSBQM95n
                        /9EAAAAASUVORK5CYII="
                />
            </svg>
        </span>
        <strong>Atlas</strong>
    </span>
{% endblock %}

{% block panel %}

    <h2>Atlas</h2>

    <h3>Queries</h3>

    <p>{{ collector.count }} queries, {{ collector.duration|number_format(5) }} seconds.

    <table>
        <tr>
            <th></th>
            <th>Connection</th>
            <th>Duration</th>
            <th>Statement</th>
            <th>Values</th>
        </tr>
        {% for query in collector.queries %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ query.connection }}</td>
            <td>{{ query.duration|number_format(5) }}</td>
            <td>{{ query.statement|trim }}<br />
                <a onclick="javascript:document.getElementById('atlas-trace-{{ loop.index }}').style.display='block';">Trace</a>
                <pre style="display: none;" id="atlas-trace-{{ loop.index }}">{{ query.trace|trim }}"</pre>
            </td>
            <td>
                <dl>
                {% for key, val in query.values %}
                    <dt>{{ key }} => </dt>
                    <dd>{{ val }}</dd>
                {% else %}
                    --
                {% endfor %}
                </dl>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">No queries.</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
